dotfiles/karabiner/assets/node_modules
.DS_Store
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v4
.lsp/.cache
.clj-kondo/.cache/v1
home/.config/karabiner/automatic_backups
.claude/settings.local.json
